@model CityLibrary.Models.Library.Book


<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-5">
            <dl class="dl-horizontal custom-details-dl">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Publisher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Publisher)
                </dd>
            </dl>    
        </div>
        @using (Html.BeginForm("AddCopy", "Collections", new { id = ViewBag.CollectionId, title = Model.Title, author = Model.Author }))
        {
            <div class="col-md-2">
                <input type="submit" class="btn btn-success btn-block" value="Dodaj do kolekcji"/>
            </div>
        }
  
    </div>
    
</div>
