@model IEnumerable<CityLibrary.ViewModels.BookCollectionViewModel>

@using CityLibrary.Models.Library

@{
    ViewBag.Title = "Kolekcje książek";
}

<h2>Kolekcje książek</h2>

<hr />
<div class="div-blankspace">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                @Html.ActionLink("Utwórz nową", "Create", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div> 
</div>

<div class="col-md-11">
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-5">@Html.DisplayNameFor(model => model.Name) <span class="glyphicon glyphicon-triangle-bottom"></span></th>
                <th>@Html.Raw("Książki:")</th>
                <th class="text-right">@Html.Raw("Dostępne") <span class="glyphicon glyphicon-triangle-bottom"></span></th>
                <th class="text-right">@Html.Raw("Wypożyczone") <span class="glyphicon glyphicon-triangle-bottom"></span></th>
                <th class="text-right">@Html.Raw("Wszystkie") <span class="glyphicon glyphicon-triangle-bottom"></span></th>
                <th class="text-right">@Html.Raw("Akcje")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in Model)
            {
                <tr>
                    <td colspan="2">@Html.DisplayFor(item => collection.Name)</td>
                    <td class="text-right">@Html.ActionLink(collection.AvailableBooks.Count.ToString(), "Books", new { id = collection.CollectionId, type = BookType.Available })</td>
                    <td class="text-right">@Html.ActionLink(collection.BorrowedBooks.Count.ToString(), "Books", new { id = collection.CollectionId, type = BookType.Borrowed })</td>
                    <td class="text-right">@Html.ActionLink(collection.CollectionBooks.Count.ToString(), "Books", new { id = collection.CollectionId, type = BookType.All })</td>
                    <td class="text-right">
                        <div class="dropdown collection-actions">
                            <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Akcje
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu ">
                                <li>@Html.ActionLink("Dodaj książkę do kolekcji", "AddBook", new { id = collection.CollectionId })</li>
                                <li>@Html.ActionLink("Edytuj", "Edit", new { id = collection.CollectionId })</li>
                                <li>@Html.ActionLink("Usuń", "Delete", new { id = collection.CollectionId })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            } 
        </tbody>
    </table>
</div>
<div class="clearfix"></div>

