@model IEnumerable<CityLibrary.Models.Library.LibraryUser>

@section Styles {
    @Styles.Render("~/Content/themes/base/all.css")
}

@{
    ViewBag.Title = "Użytkownicy";
}

<h2>Użytkownicy</h2>

<hr />
<div class="div-blankspace">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="pull-left">
                    @Html.ActionLink("Dodaj użytkownika", "Create", null, new { @class = "btn btn-default" })
                </div>
                <div class="vertical-separator pull-left"></div>
                @using (Ajax.BeginForm(new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "userList",
                    OnSuccess = "animateListContentLoad(userList)"
                }))
                {
                    @Html.Hidden("autocompletesource", false)

                    <div class="input-group">
                        @Html.TextBox("userName", null, new { @class = "form-control form-control-fixed-width", @placeholder = "Filtruj użytkownika...", data_source_autocomplete = Url.Action("Autocomplete") })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@Html.Partial("_UserList", Model)

@Html.Partial("_Modal")