@model CityLibrary.Models.Library.Book

@{
    ViewBag.Title = Model.Title + " - szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h3><strong>@Model.Title</strong></h3>
    <h4>@Model.Author</h4>
    <h5>@Model.ISBN</h5>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-2 book-cover">
                <div class="book-temp-cover">
                    <div style="display: inline-block"><strong>Okładka</strong></div>
                </div>
            </div>
            <div class="col-md-7">
                <dl class="dl-horizontal custom-details-dl">
                    <dt>@Html.DisplayNameFor(m => m.ISBN)</dt>
                    <dd>@Html.DisplayFor(m => m.ISBN)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Title)</dt>
                    <dd>@Html.DisplayFor(m => m.Title)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Author)</dt>
                    <dd>@Html.DisplayFor(m => m.Author)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Collection.Name)</dt>
                    <dd>@Html.DisplayFor(m => m.Collection.Name)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Publisher)</dt>
                    <dd>@Html.DisplayFor(m => m.Publisher)</dd>

                    <dt>@Html.DisplayNameFor(m => m.YearPrinted)</dt>
                    <dd>@Html.DisplayFor(m => m.YearPrinted)</dd>

                    <dt>@Html.DisplayNameFor(m => m.UserFullName)</dt>
                    <dd>@Html.DisplayFor(m => m.UserFullName)</dd>

                    <dt>@Html.DisplayNameFor(m => m.BorrowDate)</dt>
                    <dd>@Html.DisplayFor(m => m.BorrowDate)</dd>

                    <dt>@Html.DisplayNameFor(m => m.ReturnDate)</dt>
                    <dd>@Html.DisplayFor(m => m.ReturnDate)</dd>

                    
                </dl>
            </div>
            <div class="col-md-3 details-actions">
                <div>
                        @Html.ActionLink("Wypożycz", "Borrow", new { id = Model.BookId }, new { @class = "btn btn-success btn-block " + ViewBag.BorrowButtonDisabledAttribute })    
                </div>
                <div>
                    @using (Html.BeginForm("Prolong", "Books", new { id = Model.BookId }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Przedłuż" class="btn btn-info btn-block @ViewBag.ProlongReturnButtonsDisabledAttribute" onclick="return confirmAction()"/>
                    }
                </div>
                <div>
                    @using (Html.BeginForm("Return", "Books", new { id = Model.BookId }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Zwróć" class="btn btn-warning btn-block @ViewBag.ProlongReturnButtonsDisabledAttribute" onclick="return confirmAction()" />
                    }
                </div>
                <div class="div-blankspace"></div>
                <div>
                    @Html.ActionLink("Edytuj", "Edit", new { id = Model.BookId }, new { @class = "btn btn-primary btn-block"})
                </div>
                <div>
                    @using (Html.BeginForm("Delete", "Books", new { id = Model.BookId }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Usuń" class="btn btn-danger btn-block" onclick="return confirmDelete()" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>


